body {
  background-color: grey;
}

.animal {
  float: left;
  width: 33%;
}

.animal h3 {
  background-color: white;
  margin-right: 55px;
}

.animal p {
  padding-right: 40px;
  background-color: white;
}

.animal
